<?xml version="1.0" ?>

<robot name="tas_car_macros" xmlns:xacro="http://www.ros.org/wiki/xacro">


  <!-- Include constants, mesh locations etc. -->
  <xacro:include filename="$(find tas_sim)/urdf/tas_car_properties.xacro"/>


  <!-- Right wheel macro -->
  <xacro:macro name="r_wheel" params="name xyz:='0 0 0' rpy:='0 0 0' mass:='0.5' parent joint_xyz joint_rpy act_type:='continuous'">
    <link name="${name}">
      <visual>
	<origin xyz="${xyz}" rpy="${rpy}"/>
        <geometry>
	  <mesh filename="${wheel_r_mesh}"/>
	</geometry>
       </visual>

      <collision>
        <geometry>
	  <mesh filename="${wheel_r_mesh_col}"/>
        </geometry>
      </collision>

      <inertial>
	<mass value="${mass}" />
	<origin xyz="${xyz}" />
        <inertia ixx="0.00812" ixy="0.0" ixz="0.0" iyy="0.00812" iyz="0.0" izz="0.0156"/>
      </inertial>
    </link>

    <gazebo reference="${name}">
      <fdir1>1 0 0</fdir1>
      <maxContacts>1</maxContacts>
      <minDepth>0.005</minDepth>
      <collision>
        <surface>
          <friction>
	    <ode>
	      <mu>100000.0</mu>
	      <mu2>100000.0</mu2>
	      <slip1>0.0</slip1>
	      <slip2>0.0</slip2>
	    </ode>
            <torsional>
              <coefficient>10.0</coefficient>
              <surface_radius>1.0</surface_radius>
              <use_patch_radius>true</use_patch_radius>
            </torsional>
          </friction>
        </surface>
      </collision>
    </gazebo>
    <joint name="${parent}_${name}_joint" type="${act_type}">
      <axis xyz="0 0 1" rpy="0 0 0"/>
      <origin xyz="${joint_xyz}" rpy="${joint_rpy}"/>
      <parent link="${parent}"/>
      <child link="${name}"/>
      <limit effort="1000000" velocity="20"/>
    </joint>
  </xacro:macro>


  <!-- Left wheel macro -->
  <xacro:macro name="l_wheel" params="name xyz:='0 0 0' rpy:='0 0 0' mass:='0.5' parent joint_xyz joint_rpy act_type:='continuous'">
    <link name="${name}">
      <visual>
	<origin xyz="${xyz}" rpy="${rpy}"/>
        <geometry>
	  <mesh filename="${wheel_l_mesh}"/>
	</geometry>
       </visual>

      <collision>
        <geometry>
	  <mesh filename="${wheel_l_mesh_col}"/>
        </geometry>
      </collision>

      <inertial>
	<mass value="${mass}" />
	<origin xyz="${xyz}" />
	<inertia ixx="0.00812" ixy="0.0" ixz="0.0" iyy="0.00812" iyz="0.0" izz="0.0156"/>
      </inertial>
    </link>

    <gazebo reference="${name}">
      <fdir1>1 0 0</fdir1>
      <maxContacts>1</maxContacts>
      <minDepth>0.005</minDepth>
      <collision>
        <surface>
          <friction>
	    <ode>
	      <mu>100000.0</mu>
	      <mu2>100000.0</mu2>
	      <slip1>0.0</slip1>
	      <slip2>0.0</slip2>
	    </ode>
            <torsional>
              <coefficient>10.0</coefficient>
              <surface_radius>1.0</surface_radius>
              <use_patch_radius>true</use_patch_radius>
            </torsional>
          </friction>
        </surface>
      </collision>
    </gazebo>
    
    <joint name="${parent}_${name}_joint" type="${act_type}">
      <axis xyz="0 0 1" rpy="0 0 0"/>
      <origin xyz="${joint_xyz}" rpy="${joint_rpy}"/>
      <parent link="${parent}"/>
      <child link="${name}"/>
      <limit effort="1000000" velocity="20"/>
    </joint>
  </xacro:macro>


  <!-- Hokuyo laser scanner macro --> 
  <xacro:macro name="sensor_hokuyo" params="parent name:='hokuyo1' xyz:='0.08 0 0.430' rpy:='0 0 0' topic:='/scan'">
    <link name="${name}">
      <visual>
	<origin xyz="0 0 -0.025"/>
	<geometry>
	  <mesh filename="${hokuyo_mesh}"/>
	</geometry>
	<material name="Green"/>
      </visual>
      <collision>
	<origin xyz="0 0 -0.025"/>
	<geometry>
	  <box size="0.05 0.05 0.07"/>
        </geometry>
      </collision>
      <inertial>
	<mass value="0.001"/>
	<origin xyz="0 0 0"/>
	<inertia ixx="0.0001" ixy="0.0" ixz="0.0" iyy="0.0001" iyz="0.0" izz="0.0001"/>
      </inertial>
    </link>

    <gazebo reference="${name}">
      <sensor type="ray" name="head_hokuyo_sensor">
        <pose>0 0 0 0 0 0</pose>
        <visualize>false</visualize>
        <update_rate>40</update_rate>
        <ray>
          <scan>
            <horizontal>
              <samples>720</samples>
              <resolution>0.25</resolution>
              <min_angle>-2.094</min_angle>
              <max_angle>2.094</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>0.05</min>
            <max>30.0</max>
            <resolution>0.01</resolution>
          </range>
          <noise>
            <type>gaussian</type>
            <!-- Noise parameters based on published spec for Hokuyo laser
                 achieving "+-30mm" accuracy at range < 10m.  A mean of 0.0m and
                 stddev of 0.01m will put 99.7% of samples within 0.03m of the true
                 reading. -->
            <mean>0.0</mean>
            <stddev>0.01</stddev>
          </noise>
        </ray>
        <plugin name="gazebo_ros_head_hokuyo_controller" filename="libgazebo_ros_laser.so">
		<topicName>${topic}</topicName>
          <frameName>${name}</frameName>
        </plugin>
      </sensor>
    </gazebo>	

    <joint name="${name}_joint" type="fixed">
      <origin xyz="${xyz}" rpy="${rpy}"/>
      <axis xyz="0 0 1" rpy="0 0 0"/>
      <parent link="base"/>
      <child link="${name}"/>
    </joint>

    <gazebo reference="${name}_joint">
      <disableFixedJointLumping>true</disableFixedJointLumping>
    </gazebo>
  </xacro:macro>


  <!-- Gazebo transmission_block macro -->
  <xacro:macro name="transmission_block" params="joint_name interface_type:='PositionJointInterface'">
    <transmission name="trans_${joint_name}"> 
      <type>transmission_interface/SimpleTransmission</type> 
      <joint name="${joint_name}"> 
	<hardwareInterface>hardware_interface/${interface_type}</hardwareInterface> 
      </joint> 
      <actuator name="${joint_name}_motor">
	<hardwareInterface>hardware_interface/${interface_type}</hardwareInterface>	
        <mechanicalReduction>1</mechanicalReduction>
      </actuator> 
    </transmission>
  </xacro:macro>


  <!-- IMU macro -->
  <xacro:macro name="sensor_imu" params="parent name xyz">

    <link name="${name}">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.05 0.05 0.02"/>
        </geometry>
        <material name="Grey"/>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.05 0.05 0.02"/>
	</geometry>
      </collision>

      <inertial>
        <mass value="0.001"/>
        <inertia ixx="0.000242" ixy="0" ixz="0" iyy="0.000242" iyz="0" izz="0.000417"/>
      </inertial>
    </link>

    <gazebo reference="${name}">
      <material>Gazebo/Grey</material>
    </gazebo>
    
    <joint name="${name}_joint" type="fixed">
      <axis xyz="0 0 1" rpy="0 0 0"/>
      <origin xyz="${xyz}" rpy="0 0 0"/>
      <parent link="${parent}"/>
      <child link="${name}"/>
    </joint>

    <gazebo reference="${name}_joint">
      <disableFixedJointLumping>true</disableFixedJointLumping>
    </gazebo>
    
    <gazebo reference="imu_link">
      <gravity>true</gravity>
      <sensor name="imu_sensor" type="imu">
        <always_on>true</always_on>
        <update_rate>100</update_rate>
        <visualize>false</visualize>
	<topic>/tas_car/imu</topic>
        <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
          <topicName>imu</topicName>
	  <bodyName>${name}</bodyName>
          <updateRateHZ>10.0</updateRateHZ>
          <gaussianNoise>0.0</gaussianNoise>
          <xyzOffset>0 0 0</xyzOffset>
          <rpyOffset>0 0 0</rpyOffset>
	  <frameName>${name}</frameName>
        </plugin>
        <pose>0 0 0 0 0 0</pose>
      </sensor>
    </gazebo>
  </xacro:macro>

  <!-- Macro for initiallizing the ros_control plugin -->
  <xacro:macro name="ros_control_plugin" params="ns:=''">
    <gazebo>
      <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
	<robotNamespace>${ns}</robotNamespace>
        <legacyModeNS>true</legacyModeNS>  <!-- Removes Gazebo error message --> 
      </plugin>
    </gazebo>
  </xacro:macro>

  <!-- robot visual materials -->
  <material name="Grey">
    <color rgba="0.7 0.7 0.7 1.0"/>
  </material>
  <material name="Green">
    <color rgba="0.0 1.0 0.0 1.0"/>
  </material>
  <material name="Red">
    <color rgba="1.0 0.0 0.0 1.0"/>
  </material>
  <material name="tas_blue">
    <color rgba="0.01 0.552 1.0 1.0"/>
  </material>
  <material name="Black">
    <color rgba="0 0 0 1.0"/>
  </material>

</robot>
