<?xml version="1.0"?>

<launch>

    <!-- Use empty world logic to launch the highway environment -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find lane_planner_environment)/gazebo/worlds/highway.world" />
        <!--arg name="verbose" value="true"/-->
        <arg name="paused" value="true" />
        <!-- Include custom models for the basement for Gazebo -->
        <env name="GAZEBO_MODEL_PATH" value="$(find lane_planner_environment)/gazebo/models" />
        <env name="GAZEBO_RESOURCE_PATH" value="$(find tas_sim)/media" />
    </include>

</launch>
